body{
    margin:0px;
    padding:0px;
}
.section1{
  background-image:url("https://res.cloudinary.com/dkredoejm/image/upload/v1704787319/section1_szrgkc.png");
  background-size:cover;
  width:100vw;
  height:80vh;
  color:white;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:Center;
}
#cancel{
    background-color:transparent;
    border-width:0px;
    cursor:pointer;
}
.nav{
    display:flex;
    justify-content:space-between;
    width:100%;
    margin-bottom:15px;
    left:0%;
}
.download{
    position:fixed;
    left:0%;
    top:50%;
    transform:rotate(-90deg);
    padding:10px;
    color:white;
    font-size:20px;
    margin-left:-130px;
    background-image:url(clip1.PNG);
    animation: image 5s linear infinite;
    background-position:0 0;
    }

@keyframes image {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 2000px 0;
    }
}
.icon-btn{
    background-color:transparent;
    border:1px solid #fff;
    border-radius:10px;
}
.tab:hover{
    background-color:black;
    opacity:0.1;
}
.tab-button,.tab{
border-radius:10px;
margin-right:15px;
color:white;
font-size:25px;
padding:10px;
cursor:pointer;
}
ul{
    list-style-type:none;
    display:flex;
}
.tab-button:hover{
    background-color: #fff;
    color:blue;
    
}
.section1-p{
    font-size:18px;
    font-weight:bold;
}
.section1-content{
   margin-top:100px;
}
@media(min-width:500px){
    .section1-p{
        font-size:23px;
    }
}
.section1-items{
    display:flex;
    width:100%;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: center;
}
.section1-nav-font{
    color:white;
}
.section1-item{
    background-color:black;
    opacity: 0.7;
    padding:3px 15px 0px 15px;
    font-size: 18px;
    border-radius:10px;
    width:200px;
    text-align:center;
}
.section1-inputbox{
    width:80%;
    height:80px;
    background-color:white;
    border-radius:30px;
    padding:10px;
}

.section1-input{
    width:90%;
    background-color:transparent;
    border-width:0px;
    outline-color: transparent;
    font-size:20px;
}
.section1-search{
background-color: #fd2a4d;
width:45px;
height:45px;
border-radius:45px;
padding:8px;
font-size:30px;
}
.color-white{
color:white;
}
.logo-size{
    font-size:45px;
}
.nav-searchbox{
    background-color:white;
    border-radius:30px;
    padding:3px;
    margin-left:20px;
    min-width:150px;
    margin:5px 0px 5px 10px;
}
.nav-input{
    background-color:transparent;
    border-width:0px;
    outline-color: transparent;
    font-size:20px;
   
}
.section2-container{
    margin: 0;
    overflow: hidden;
}
.section2{
    width: 100vw;
    overflow-x: scroll; /* Enable vertical scrolling */
    scroll-behavior: smooth;
}
.section2::-webkit-scrollbar{
    width:0px;
}
.section2-item{
    margin:20px;
    min-width:200px;
}
.section4-item{
    min-width:260px;
    max-width:600px;
    border-radius:10px;
    padding:10px;
    margin:20px;
}
.section4-content{
    margin-right:10px;
    margin-top:10px;
    
}
.section4-button{
    border-radius: 10px;
    padding:10px;
    background-color: #d83068;
    color:white;
    font-size:18px;
    text-align:center;
    border-width:0px;
    cursor: pointer;
}
.section4-img{
    width:50%;
    height:50%;
}
.section4-img:hover{
     transform: scale(1.1);
}
.section6-item{
    min-width:270px;
    max-width:500px;
    padding:10px;
    border-radius:10px;
    background-color:#dbcfd5;
    margin:15px;
}
.profile{
    background-color:#eb9010;
    font-size:30px;
    padding:10px;
    border-radius:100px;
    height:50px;
    width:50px;
}
.section6-img{
    width:70px;
    height:20px;
    margin-left:auto;
    margin-top:20px;
}
.section6-btn{
    border:1px solid #272424;
    border-radius:20px;
    padding:10px;
    width:200px;
    font-size:20px;
}
.section6-sub-btn{
    border-radius:10px;
    padding:5px;
}
.big-btn{
    color:red;
    width:90%;
    background-color:transparent;
    text-align:center;
    padding:10px;
    border-radius:10px;
    border:1px solid red;
}
.align-center{
    text-align:center;
}
.section8-ul{
    list-style-type:none;
    display:flex;
    flex-wrap:wrap;
}
.section8-cities{
    color:red;
    font-size:20px;
    margin:10px 25px 10px 0px;
}
.section8-cities:hover{
    text-decoration:underline;
}
.section9-items{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:Center;

}
.section9-num{
    background-color:white;
    border:1px solid #918d8d;
    margin-right:-50px;
    border-radius:150px;
    width:100px;
    height:60px;
    background-color:white;
    padding-left:20px;


}
.section9-item{
    border:1px solid #918d8d;
    border-radius:10px;
    padding-left:40px;
}
.section10-image{
    margin:20px;
    min-width:280px;
    max-width:800px;
    min-height:200px;
    max-height: 400px;
    border-radius:10px;
}
.section10-image:hover{
    transform: scale(1.2);
}
.section11-items{
    display:flex;
    flex-wrap:wrap;
}
.section-item{
    margin:20px;
}
.section11-mini-msg{
    background-color: red;
    color:white;
    margin-bottom:-20px;
    width:100px;
    padding:5px;
    margin-left:10px;
    border-radius:10px;
}
.section11-sub-item{
    border:1px solid red;
    border-radius:10px;
    padding:60px 30px 30px 30px;
    text-align:center;
}
.section11-simpleitem{
    display:flex;
    flex-direction:column;
    width:200px;
    height:200px;
  
    border:1px solid #4b4646;
    border-radius:10px;
    justify-content:center;
    align-items:Center;
}

.section12{
    display:flex;
    flex-wrap:wrap;
}
.contact{
    width:100%;
    padding:10px;
    border:1px solid #272424;
    border-radius:10px;
    
}
li{
    font-size:18px;
    margin:5px;
    font-weight:bold;
}
.app{
    border-radius:10px;
    min-width:150px;
    max-width:250px;
}
.section3-item{
    border-radius:10px;
    padding:5px 10px 5px 10px;
    border:1px solid #878484;
    font-size:20px;
    background-color:transparent;
    display:flex;
    align-items:Center;
    font-weight:600;
    margin:15px;
}
.flags{
width:30px;
height:30px;
margin:0px 10px 6px 10px;
border-radius:30px;
}
.section3-contents{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
}
.section3-content{
    border-radius:10px;
    width:250px;
    height: 250px;
    display:flex;
    align-items:flex-end;
    margin:20px;
}
.section3-content:hover{
    transform: scale(1.2);
}
.section3-content-subpara{
    padding-bottom:15px;
    background-color:#100f0f;
    opacity: 0.5;
    color:white;;
    font-weight:bold;
    font-size:20px;
    width:100%;
    text-align:center;
}
.bg1{
    background-image:url("https://res.cloudinary.com/dkredoejm/image/upload/v1704859391/london_mn4pzj.png");
    background-size:cover;
}
.bg2{
    background-image:url("https://res.cloudinary.com/dkredoejm/image/upload/v1704859643/leistar_kqe0du.png");
    background-size:cover;
}
.bg3{
    background-image:url("https://res.cloudinary.com/dkredoejm/image/upload/v1704859653/bhirmingam_ozqmzd.png");
    background-size:cover;
}
.properties{
    border-radius:10px;
    padding:10px;
    margin:20px;
    height:30px;
    display:flex;
    align-items:Center;
    background-color:white;
}
.slidingItems{
  
    background-color:white;
    border:1px solid #484343;
    border-radius:10px;
    margin:20px;
    width:260px;
}
.card-item{
    border-radius:10px;
}
#myCarousel,#myCarousel2,#myCarouse3,#myCarousel4,#myCarouse5,#myCarousel6,#myCarouse7,#myCarousel8,#myCarousel9,#myCarousel10,#myCarouse111,#myCarousel12,#myCarousel13,#myCarousal14,#myCarousel15,#myCarousel16,#myCarousel17,#myCarousel18{
    width:260px;
    height: 260px; /* Adjust the height as needed */
}
@media(min-width:400px){
    #myCarousel,#myCarousel2,#myCarouse3,#myCarousel4,#myCarouse5,#myCarousel6,#myCarouse7,#myCarousel8,#myCarousel9,#myCarousel10,#myCarouse111,#myCarousel12,#myCarousel13,#myCarousal14,#myCarousel15,#myCarousel16,#myCarousel17,#myCarousel18{
        width:400px;
        height:400px;
    }
    .slidingItems{
        width:400px;
    }
}
.hidden{
    display:none;
}
.n-margin{
    margin-top:-100px;
}